@charset "utf-8";

/*	layout	*/
#wrap{		position:relative; width:100%;		}
#header{	position:relative; min-width:1000px; width:100%; height:380px; background:#cf452c url("./images/header_bg.png") no-repeat center 0;		}
#container{	position:relative; width:100%;		}
#footer{	position:relative; width:100%;		}

/*	header	*/
.header_wrap{		position:relative; width:1000px; margin:0 auto;		}
h1{			padding-top:70px; color:#fff;	font-size:46px; font-weight:600; line-height:66px;		}
h1 > span{	display:block; color:#fff68a;		}
.header_btn > a{	margin-top:40px; margin-right:4px; display:inline-block; width:230px; height:60px; background:url(./images/blue_btn.png) repeat-x; border-radius:5px; font-size:18px; font-weight:600; color:#98edff; text-align:center; line-height:60px;		}
.laptop{	position:absolute; top:140px; right:-45px;		}

/*	container	*/
.con_wrap{	width:1000px; margin:0 auto; 		}
table{		margin:65px 0 80px 0; width:100%; border-top:2px solid #777; font-size:17px; font-weight:600;	}
td{			padding:18px 0 18px 25px; border-bottom:1px solid #e0e0e0; border-right:1px solid #e0e0e0; vertical-align:top;		}
td:last-child{		border-right:none;		}
td > ul{	margin-top:10px;		}
td > ul > li{		font-size:14px; line-height:21px;		}
td > ul > li:before{content:counter(item, disc)""; color:#eb5b46; margin-right:5px;			}
.kor{		font-size:15px; color:#666; font-weight:300;	}	
.s_kor{		font-size:12px; font-weight:300; color:#666;	}

/*	footer	*/
.f_con{		padding:30px 0; width:100%; /*height:125px;*/ background:#f4ca67;		}
.f_con_wrap{		width:1000px; margin:0 auto;		}
.f_con_wrap > span{	float:left; line-height:64px; font-size:21px; font-weight:600; color:#8e6a16;		}
.f_con_wrap > a{	float:right; display:inline-block; width:270px; height:64px; background:url(./images/red_btn.png) repeat-x; font-size:20px; font-weight:600; color:#fff; line-height:64px; text-align:center; border-radius:5px; 		}
.f_copy{			padding:20px 0; width:100%; /*height:50px;*/ background:#f7f1a4;		}
.f_copy_wrap{		width:1000px; margin:0 auto;		}
.f_copy_wrap > p{	text-align:center; color:#e7543e;		}
.f_copy_wrap > span{float:right; margin-top:-15px;		}
.f_copy_wrap > span > a{		margin-left:10px;
text-decoration:underline; color:#97803a; font-weight:600;		}

