/* import Nanum Gothic Font */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body { 
  font-family: "Nanum Gothic", sans-serif;
  padding-top: 50px; 
}
.header { }
.footer {
  text-align:center;
}
#section1 {
	background-color: #168ccc;
    color:#dedeff;
}
.btn-outline {
    background-color: transparent;
    border-color: #563d7c;
    color: #563d7c;
}
